@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* BeVietnamPro Font Configurations */
@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Define other weights and styles as needed */
@font-face {
  font-family: "BeVietnamPro";
  src: url("./fonts/BeVietnamPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* DMSans Variable Font Configurations */
@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 700;
  font-style: italic;
}

/* GeistMonoVF Font Configuration */
@font-face {
  font-family: "GeistMono";
  src: url("./fonts/GeistMonoVF.woff") format("woff");
  font-weight: 100 700;
  font-style: normal;
}

/* GeistVF Font Configuration */
@font-face {
  font-family: "Geist";
  src: url("./fonts/GeistVF.woff") format("woff");
  font-weight: 100 700;
  font-style: normal;
}

/* GothicA1 Font Configurations */
@font-face {
  font-family: "GothicA1";
  src: url("./fonts/GothicA1-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothicA1";
  src: url("./fonts/GothicA1-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothicA1";
  src: url("./fonts/GothicA1-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Define other weights and styles as needed */

/* Lato Font Configurations */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Montserrat Variable Font Configurations */
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #45133c;
}

.hover-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #a88652;
  position: absolute;
  border-radius: 10px;
  bottom: -8px;
  left: 0;
  opacity: 0;
  transform: translateY(4px);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.group:hover .hover-underline::after {
  opacity: 1;
  transform: translateY(0);
}

.hover-underline.active::after {
  opacity: 1;
  transform: translateY(0);
}

.group:hover .group-hover\:block {
  display: block;
}
